
  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .flex {
    display: flex;
  }
  .fondo {
    background-image: url("../imagenes/poster.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .separador {
    height: 250px;
  }
  
  #cap {
    background-color: white;
  }
 